@page "/"
@inject GuessService GuessService;

@implements IDisposable;

@code
{
    readonly Word[] _possibleWords = GetWordList("wordlist.txt"); 
    List<Word>? _filteredWords;

    private static Word[] GetWordList(string filename)
    {
        var words = File.ReadAllLines(filename).ToList();
        var frequencyAnalyser = new LetterFrequencyAnalyser(words);
        return words.Select(word => new Word() { Value = word, Weight = frequencyAnalyser.CalculateWordWeight(word) }).ToArray();
    }
    
    int guessLines = 1;

    private void Reset()
    {
        guessLines = 0;
        GuessService.Guesses = [];
        _filteredWords = _possibleWords.ToList();
    }

    private void AddDelGuess(int num)
    {
        guessLines += num;
    }

    protected override void OnInitialized()
    {
        _possibleWords.Shuffle();
        _filteredWords = _possibleWords.ToList();
        GuessService.OnChange += FilterWordList;
    }

    public void Dispose()
    {
        GuessService.OnChange -= FilterWordList;
    }

    private void FilterWordList()
    {
        _filteredWords = new List<Word>();

        // check those that have known positions and then later filter those
        if (GuessService.HasPerfectMatch)
        {
            // Use predicate inside Where to avoid repetitive checking
            _filteredWords = _possibleWords.Where(word =>
            {
                return GuessService.Guesses
                    .Where(x => x.State == Letter.LetterState.Right)
                    .All(guess => HasCharAtMatchingPosition(word.Value, guess.Value, guess.Position));
            }).ToList();
        }
        else 
        {
            _filteredWords = _possibleWords.ToList();
        }

        // now filter out the noise
        if (GuessService.HasWronguns)
        {
            _filteredWords.RemoveAll(word =>
            {
                return GuessService.Guesses
                    .Where(x => x.State == Letter.LetterState.Wrong)
                    .Select(x => x.Value)
                    .Any(wrong => word.Value.Contains(wrong));
            });
        }

        if (GuessService.HasImperfections)
        {
            _filteredWords.RemoveAll(word => 
            {
                return GuessService.Guesses
                    .Where(x => x.State == Letter.LetterState.RightWrong)
                    .Any(other => !word.Value.Contains(other.Value) || HasCharAtMatchingPosition(word.Value, other.Value, other.Position));
            });
        }

        StateHasChanged();
    }

    private bool HasCharAtMatchingPosition(string word, string val, int pos)
    {
        return word[pos - 1] == val.ToCharArray()[0];
    }
}

<h1>Blazordle - a Wordle solver</h1>
<p>(<a href="https://matt-thornton.net/tech/blazordle-a-wordle-solver/">Blog post & source code</a>)</p>
<hr />
<p>There are @_possibleWords.Length words in the list.</p>
<p>To start, head to <a href="https://www.nytimes.com/games/wordle/">Wordle</a> play today's game.</p>
<p>Enter your starting 5-letter guess then come back here and enter the same and the hints it gave you, by clicking each letter to set the state.</p>

<div class="container">
    <div class="wordle-board">
        
        @for (int i = 1; i <= guessLines; i++)
        {
            <WordleGuess></WordleGuess>
        }
        <button @onclick="() => AddDelGuess(1)">Add</button>
        <button @onclick="() => AddDelGuess(-1)">Del</button>
        <button @onclick="() => Reset()">Reset</button>

    </div>

    <div class="word-list">
        <p>(@_filteredWords.Count possible solutions)</p>
        <ol>
            @foreach (var word in _filteredWords.OrderByDescending(x=> x.Weight).Take(100))
            {
                <li>@word.Value (w: @word.Weight.ToString("F3"))</li>
            }
        </ol>
    </div>
</div>

<hr />
Another pointless thing by <a href="https://matt-thornton.net">matt</a>