@code {


    private void GuessLetterClicked()
    {
        
    }
    
}

<div class="wordle-row">
    <input type="text" maxlength="1" class="wordle-box" name="letter1" @onclick="GuessLetterClicked">
    <input type="text" maxlength="1" class="wordle-box" name="letter2">
    <input type="text" maxlength="1" class="wordle-box" name="letter3">
    <input type="text" maxlength="1" class="wordle-box" name="letter4">
    <input type="text" maxlength="1" class="wordle-box" name="letter5">
</div>